{% extends 'cowepl/base.html' %}

{% block content %}
    	<table class="table">
    		<thead>
    			<th>Name</th>
    			<th>Votes</th>
    			<th>
    				<a href="{% url 'cowepl:add' %}">
    					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    				</a>
    			</th>
    		</thead>
    		<tbody>
    			{% for music in musics %}
    			<tr>
    				<td>
    					<a class="ytLink" href="{{ music.generate_link }}" data-title="{{ music.title }}" data-video="{{ music.video_id }}">
    						{{ music.title }}
    					</a>
    				</td>
    				<td>{{ music.votes }}</td>
    				<td>
    					<a href="{% url 'cowepl:vote_up' music.id %}">
    						<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
    					</a>
    				</td>
    			</tr>
    			{% empty %}
    			<tr>
    				<td colspan="3">
    					<em>No musics</em>
    				</td>
    			</tr>
    			{% endfor %}
    		</tbody>
    	</table>
      <button type="button" class="btn btn-primary" id="send-message-button">chat</button>
        <div id="ytModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ytModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 id="ytModalTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <iframe width="100%" height="400" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/dist/swampdragon.js"></script>
<script>
    $('.ytLink').click(function (e) {
        var src = 'http://www.youtube.com/embed/' + $(this).data('video') + '?html5=1'
        $('#ytModal #ytModalTitle').text($(this).data('title'));
        $('#ytModal').modal('show');
        $('#ytModal iframe').attr('src', src);
        e.preventDefault();
    });

    $('#ytModal').on('hidden.bs.modal', function () {
        $('#myModal iframe').removeAttr('src');
    });
</script>
<script>
/***********************
 * Swamp Dragon setup
 ***********************/
swampdragon.ready(function () {
    subscribe();
});


function subscribe () {
    swampdragon.subscribe('chat-route', 'local-channel', null, function (context, data) {
        // any thing that happens after successfully subscribing
    }, function (context, data) {
        // any thing that happens if subscribing failed
    });
}


swampdragon.onChannelMessage(function (chanel, data) {
    addMessage(data.name, data.message);
});


/***********************
 * Wire up DOM events
 ***********************/
document.getElementById("send-message-button").addEventListener("click", function () {
    sendMessage('test', 'hello');
});


function addMessage (name, msg) {
    alert(name + ": " + msg);
}


function sendMessage (name, message) {
    // Reset error messages
    /*
    document.getElementById('error-name').innerHTML = "";
    document.getElementById('error-message').innerHTML = "";
    */
    // Send message
    swampdragon.callRouter('chat', 'chat-route', {name:name, message:message}, null, function (e, error) {
        for (var propname in error) {
            //document.getElementById('error-' + propname).innerHTML = error[propname];
            alert('error-' + propname + ': ' + error[propname]);
        }
    });
}
</script>
{% endblock %}
